@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #000000;
  text-decoration: none;
  list-style: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

a {
transition: all 0.3s ease 0s;
}

a:hover {
  color: #0088A9;
}

.head {
  display: flex;
  align-items: center;
  background: #fff;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 10vh;
  min-height: 40pt;
  border-bottom-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
}

.foot {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: sticky;
  z-index: 100;
  bottom: 0;
  justify-content: space-evenly;
  height: 5vh;
  border-top-style: solid;
  border-width: 1px;
  margin-top: auto;
}

.links {
  font-size: 12pt;
  font-weight: 300;
}

.name {
  position: absolute;
  left: 20%;
  font-weight: 900;
  font-size: 32pt;
  }
  
.about {
  position: absolute;
  right: 20%;
  font-weight: 300;
  font-size: 16pt;
  }

.ul_images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1%;  
  justify-content: center;
  }

.gallery {
  width: 55vw;
  max-height: 80vh;
  margin-bottom: 20px;
  object-fit: scale-down;
  vertical-align: bottom;
  }

.space {
  height: 82vh;
}

.center {
  display: flex;
  justify-content: center;
 }

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 1%; 
  width: 55vw;
  }

p {
  font-weight: 300;
  font-size: 13pt;
  text-align: justify;
  text-justify: inter-word;
}

.about-img {
  padding-right: 2%;
  max-width: 400px;
  max-height: 200px;
}



@media (max-aspect-ratio: 1/1) {
  .img_links {
    height: 30vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 851px) {

.name {
    position: absolute;
    left: 2.5%;
    font-size: 12pt;
    }
    
.about {
    position: absolute;
    right: 2.5%;
    font-size: 12pt;
    }

a {
  font-size: 10pt;
  }

.gallery {
    width: 95vw;
    max-height: 75vh;
    margin-bottom: 20px;
  }

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
   width: 95vw;
  }

.about-img {
    padding-right: 2%;
    max-width: 100%;
    max-height: 100%;
  }

.links {
    display: flex;
    flex-direction: row;
    margin: 2% 10%;
  }
}