@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 12pt;
  text-decoration: none;
  text-transform: uppercase;

}

.bg-img {
  display: flex;
  justify-content: center;
  background-image: url('/images/brd.webp');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  position: absolute;
  font-weight: 900;
  font-size: 48pt;
  color: #000;
  text-align: center;
  align-self: center;
}

.left-links, .right-links {
  display: flex;
  align-items: center;
}


.container {
  margin-top: 25px;
  padding-right: 15%;
  padding-left: 15%;
}

@media (min-width:768px){
  .container{width:750px}}

@media (min-width:992px){
  .container{width:970px}}

@media (min-width:1200px){
  .container{width:1170px}}

@media (min-width:1600px){
    .container{width:100%}}

a {
transition: all 0.3s ease 0s;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15%;
    padding-left: 15%;
    height: 125px;
    width: 100%;
    color: #000;
    line-height: 125%;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick the header to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
    background-color: white; /* Optional: Set a background color to avoid transparency issues */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Add a drop shadow */
  }
  
  .name {
    display: flex;
    text-align: right;
    text-decoration: none;
    margin-right: 60px;
    font-size: 18pt; /* Increase font size for the top text/link */
    color: #000;
    font-weight: 600; 
  }
  
  .bottom {
    display: flex; /* Arrange the bottom links horizontally */
    justify-content: space-between; /* Distribute links to the left and right */
    width: 60%; /* Ensure the entire width is used */
  }
  
  .subpage {
    text-decoration: none;
    margin-right: 20px;
    color: #000;
    font-weight: 500;
  }

  .subpage_2 {
    text-decoration: none;
    color: rgb(0, 140, 255);
    font-weight: 500;
    border-style: solid;
    padding: 10px;  
  }

  .subpage_2:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 140, 255);
    border-color: rgb(0, 140, 255);
    padding: 10px;  
    opacity: 1;
  }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 2% 25%;
  color: #000;
}

p {
  color: #000;
  font-weight: 300;
  font-size: 13pt;
  align-self: center;
  text-transform: none;
  text-align: justify;
}

figcaption {
  color: #000;
  font-weight: 500;
  font-size: 10pt;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
}

.footer {
  font-size: 12pt;
  font-weight: 300;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2% 10%;
  }

.about-img {
    padding-right: 2%;
    max-width: 100%;
    max-height: 100%;
  }

.links {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
  }
}

.selection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.selection img {
  width: 100%;
}

@media screen and (max-width: 1080px) {.selection {
  display: flex;
  flex-wrap: wrap;
}
}

  /* Galerie-Darstellung*/

  figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }

.gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 75px;
  overflow: hidden;  
}
.gallery img { 
  width: 100%; 
  height: auto;
  transition: 0ms;
  opacity: 1;
  page-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  break-inside: avoid;
  cursor: -webkit-zoom-in;
}

.gallery img:hover {
  opacity: 0.8;
}

.gallery video { 
  width: 100%; 
  height: auto;
  opacity: 1;
  page-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  break-inside: avoid;
  cursor: -webkit-zoom-in;
}

.modal-img,.model-vid{
margin: 0;
padding: 0;
width: 50vw;
max-height: 100%;
display: table;
}

.modal-body{
padding: 0px;
}

.modal-dialog {
height: 100%;
position: relative;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}

.modal-content {
border: none;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #000;
}

@media screen and (max-width: 1080px) {
.gallery { 
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      }

p {
  width: 75vw;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
}

.hamburger-menu {
  display: block;
}

.bottom {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 125px; /* Adjust based on your header height */
  right: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bottom.show {
  display: flex;
  flex-direction: column;
}

.left-links, .right-links {
  display: flex;
  flex-direction: column;
}

.subpage, .subpage_2 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-right: 0;
  color: #000;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  padding: 10%;
}

.subpage_2:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  border-color: black;
  padding: 10%;  
  opacity: 1;
}

a {
  transition: none;
  color: #000;
  }

a:hover {
  opacity: 1;
}

}