@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 24pt;
  color: #000000;
  text-decoration: none;
  list-style: none;
}

.ig {
  transition: all 0.3s ease 0s;
}

.ig:hover {
  opacity: 50%;
}

a {
transition: all 0.3s ease 0s;
}

a:hover {
  color: #0088A9;
  }

.head {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

.name {
  position: absolute;
  left: 1.2%;
  }
  
.about {
  position: absolute;
  right: 1.2%;
  }

.ul_images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1%;
}

.img_links {
  height: 30vh;
  flex-grow: 1;
  padding: 5px;
}

.img_links:last-child {
  flex-grow: 10;
}

.gallery {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2% 25%;
}

p {
  font-weight: 300;
  font-size: 13pt;
}

.about-img {
  padding-right: 2%;
  max-width: 400px;
  max-height: 200px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2% 35%;
}

.footer {
  font-size: 12pt;
  font-weight: 300;
}

@media (max-aspect-ratio: 1/1) {
  .img_links {
    height: 30vh;
  }
}


@media (max-height: 480px) {
  .img_links {
    height: 40vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {

.name {
    position: absolute;
    left: 2.5%;
    }
    
.about {
    position: absolute;
    right: 2.5%;
    }

a {
  font-size: 14pt;
  }

.ul-images {
    flex-direction: row;
  }

.img_links {
    height: auto;
    width: 100%;
  }

.gallery {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2% 10%;
  }

.about-img {
    padding-right: 2%;
    max-width: 100%;
    max-height: 100%;
  }

.links {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
  }
}