@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 12pt;
  color: #000;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%;
  justify-content: center;
  align-items: stretch;
}

.stick {
  position: sticky;
  top: 50px;
}

.one {
  width: 20%;
  position: sticky;
  padding-left: 50px;
}

.two {
  width: 60%;
  padding-top: 40px;
}

.three {
  width: 20%;
  position: sticky;
  padding-left: 50px;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

  /* Startseite */

  .ul_images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }

  .img_links {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 50px;
  }

  .gallery_startseite {
    max-height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    align-self: center;
    color: #ffffff;
    pointer-events: none;
    font-weight: 900;
  }

  h2 {
    color: #000;
    pointer-events: none;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h3 {
    color: #000;
    font-weight: 300;
    font-size: 12pt;
    margin: 0;
  }

@media (max-width:768px){
.gallery_startseite{width:100vw}
.main {
  flex-direction: column;
}

.stick {
  position: sticky;
  top: 50px;
}

.one {
  width: 100%;
  position: sticky;
  padding-left: 10px;
}

.two {
  width: 100%;
  padding-top: 40px;
}

.three {
  width: 100%;
  position: sticky;
  padding-left: 10px;
}
}

@media (min-width:769px){
.gallery_startseite{width:59vw}}

  /* Startseite Ende */

a {
transition: all 0.3s ease 0s;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #008aca;
  }

.head {
  display: flex;
  flex-direction: column; /* Stack the top and bottom divs vertically */
  align-items: center;
  height: 150px;
  width: 100%;
  padding-top: 50px; /* Add some vertical padding */
  padding-bottom: 225px;
  color: #000;
  border: solid;
}
  
.top {
  margin-bottom: 10px; /* Add space between top and bottom sections */
  color: #000;
}
  
.name {
  text-decoration: none;
  font-size: 36px; /* Increase font size for the top text/link */
  color: #000;
  font-weight: 600;
}
  
.bottom {
  display: flex; /* Arrange the bottom links horizontally */
  justify-content: space-between; /* Distribute links to the left and right */
  width: 80vw; /* Ensure the entire width is used */

}
  
.subpage {
  display: flex;
  text-decoration: none;
  margin-right: 20px;
  color: #000;
  font-weight: 300;
}

svg {
  margin-bottom: 10px;
}

.section { /* auf about-Seite */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 2% 25%;
  color: #000;
}

p { /* auf about-Seite */
  color: #000;
  font-weight: 300;
  font-size: 13pt;
  align-self: center;
}

.footer { /* auf about-Seite */
  font-size: 12pt;
  font-weight: 300;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2% 10%;
  }

.about-img {
    padding-right: 2%;
    max-width: 100%;
    max-height: 100%;
  }

.links {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
  }
}

@media screen and (max-width: 1080px) {.selection {
  display: flex;
  flex-wrap: wrap;
}
}

  /* Galerie-Darstellung*/

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 50px;
  overflow: hidden;
}
.gallery img { 
  width: 100%; 
  height: auto;
  margin-bottom: 50px;
  opacity: 1;
  page-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  break-inside: avoid;
  cursor: pointer;
}

.gallery video { 
  width: 100%; 
  height: auto;
  margin-bottom: 50px;
  opacity: 1;
  page-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  break-inside: avoid;
  cursor: pointer;
}

.gallery img:hover {
  opacity: 0.8;
}

.modal-img,.model-vid{
margin: 0;
padding: 0;
width: 50vw;
max-height: 100%;
display: table;
}

.modal-body{
padding: 0px;
}

.modal-dialog {
height: 100%;
position: relative;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}

.modal-content {
border: none;
}

@media screen and (max-width: 1080px) {
.gallery { 
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; }
}